#AnswersListContainer {
    width: 990px;
    top: 0;
    left: 60%;
    position: absolute;
    margin-left: -495px;
    max-height: 43px;
    min-height: 43px;
}

#AnswersListContainer > ul {
    list-style-type: none;
}

#AnswersListContainer > ul li {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-link,
.btn-link:focus,
.btn-link:active,
.btn-link:visited {
    outline: none;
    color: #D0AB54;
    padding-left: 0;
    font-size: 1.5em;
    white-space: nowrap;
    letter-spacing: -1px;
    font-family: 'Tit Light';
    text-shadow: 1px -1px 6px rgba(255, 255, 255, .6);
}

.btn-link:hover {
    color: inherit;
}