#loadingScreen {
	z-index: 9000;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#loadingScreenFullScreenButton {
	margin-left: 20px;
}

@-webkit-keyframes animatedBackground {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@-moz-keyframes animatedBackground {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@-ms-keyframes animatedBackground {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@-o-keyframes animatedBackground {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes animatedBackground {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

#loadingScreenBackground {
	z-index: 5000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	background:url(../img/home.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#loadingScreenBackgroundFader {
    z-index: 6000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;

	background:url(../img/home2.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	-webkit-animation: animatedBackground 2s linear infinite;
    -moz-animation: animatedBackground 2s linear infinite;
    -ms-animation: animatedBackground 2s linear infinite;
    -o-animation: animatedBackground 2s linear infinite;
    animation: animatedBackground 2s linear infinite;
}

#loadingScreenPopup {
	z-index: 9000;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 700px;
	height: 262px;
	margin-left: -350px;
	margin-top: -131px;

	background-color: rgba(0, 0, 0, 0.7);
	padding: 20px;
	border: 1px solid white;
}

.warning-heading {
	color: red;
}

.success-heading {
	color: #47a447;
}

.btn {
	font-weight: bold;
}

.progress {
	height: 8px;
	margin-left: 30px;
    background-color: #333;
}

.progress-bar {
	border-radius: 6px;
}

@-webkit-keyframes rotateRight {
	50% {
		-webkit-transform: rotate(180deg) scale(.7, .7);
	}
	100%{
		-webkit-transform: rotate(360deg);
	}
}

@-webkit-keyframes rotateLeft {
	50% {
		-webkit-transform: rotate(180deg) scale(.5, .5);
	}
	100%{
		-webkit-transform: rotate(-360deg);
	}
}

@-webkit-keyframes scaleOnly {
	50% {
		-webkit-transform: scale(.3, .3);
	}
}

@-webkit-keyframes rotateLeftBigger {
	100%{
		-webkit-transform: rotate(180deg) scale(100, 100);
	}
}

@-webkit-keyframes rotateRightSmaller {
	100%{
		-webkit-transform: rotate(180deg) scale(0, 0);
	}
}

@-webkit-keyframes scaleOnlyFade {
	100% {
		opacity: 0;
	}
}

#innerCircle, #middleCircle, #outerCircle {
	z-index: 8000;
	position: absolute;
	left: 50%;
	top: 50%;
}

#innerCircle {
	width: 700px;
	height: 700px;
	margin-left: -350px;
	margin-top: -350px;
	border-radius: 700px;
	border: 15px dashed rgba(66, 139, 202, .5); /* rgba(66, 139, 202, .1) progressBar color */
}

#middleCircle {
	width: 800px;
	height: 800px;
	margin-left: -400px;
	margin-top: -400px;
	border-radius: 800px;
	border: 10px double rgba(66, 139, 202, .5); /* rgba(66, 139, 202, .1) progressBar color */
}

#outerCircle {
	width: 900px;
	height: 900px;
	margin-left: -450px;
	margin-top: -450px;
	border-radius: 900px;
	border: 15px dotted rgba(66, 139, 202, .5); /* rgba(66, 139, 202, .1) progressBar color */
}

.rotateLeft, .rotateRight, .scaleOnly {
	-webkit-animation-play-state: paused;
	-moz-animation-play-state: paused;
	-ms-animation-play-state: paused;
	-o-animation-play-state: paused;
	animation-play-state: paused;
}

.rotateLeft {
	-webkit-animation: rotateLeft 3s linear infinite;
	-moz-animation: rotateLeft 3s linear infinite;
	-ms-animation: rotateLeft 3s linear infinite;
	-o-animation: rotateLeft 3s linear infinite;
	animation: rotateLeft 3s linear infinite;
}

.rotateRight {
	-webkit-animation: rotateRight 5s linear infinite;
	-moz-animation: rotateRight 5s linear infinite;
	-ms-animation: rotateRight 5s linear infinite;
	-o-animation: rotateRight 5s linear infinite;
	animation: rotateRight 5s linear infinite;
}

.scaleOnly {
	-webkit-animation: scaleOnly 7s ease-in-out infinite;
	-moz-animation: scaleOnly 7s linear infinite;
	-ms-animation: scaleOnly 7s linear infinite;
	-o-animation: scaleOnly 7s linear infinite;
	animation: scaleOnly 7s linear infinite;
}

.noAnimation {
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -ms-animation: none !important;
  -o-animation: none !important;
  animation: none !important;
}

.rotateLeftBigger {
	-webkit-animation: rotateLeftBigger 36s linear;
	-moz-animation: rotateLeftBigger 36s linear;
	-ms-animation: rotateLeftBigger 36s linear;
	-o-animation: rotateLeftBigger 36s linear;
	animation: rotateLeftBigger 36s linear;
	
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.rotateRightSmaller {
	-webkit-animation: rotateRightSmaller 1s linear;
	-moz-animation: rotateRightSmaller 1s linear;
	-ms-animation: rotateRightSmaller 1s linear;
	-o-animation: rotateRightSmaller 1s linear;
	animation: rotateRightSmaller 1s linear;
	
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.scaleOnlyFade {
	-webkit-animation: scaleOnlyFade 1s linear;
	-moz-animation: scaleOnlyFade 1s linear;
	-ms-animation: scaleOnlyFade 1s linear;
	-o-animation: scaleOnlyFade 1s linear;
	animation: scaleOnlyFade 1s linear;

	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	-ms-animation-fill-mode: forwards;
	-o-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}