@import url(http://fonts.googleapis.com/css?family=Inconsolata);

body {
    background:url(../img/main.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

.btn-link,
.btn-link:focus,
.btn-link:active,
.btn-link:visited {
    color: #D0AB54;
    font-weight: bolder;
    padding-left: 0;
    outline: none;
    font-size: 1.5em;
    letter-spacing: -1px;
    text-shadow: 1px -1px 6px rgba(255, 255, 255, .6);
    white-space: nowrap;
}

.btn-link:hover {
    color: inherit;
}

.categories {
    position: absolute;
    margin-top: 20px;
}

.categories>ul {
    list-style-type: none;
}

.categories>ul li {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cover-container {
    position: relative;
    top: -250px;
}

.mastfoot {
    text-align: center;
}

#diagnostics {
    z-index: 9999;
    visibility: hidden;
    text-align: left;
    position: absolute;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 800px;
    height: 400px;
    left: 50%;
    margin-left: -400px;
    border: 2px solid white;
    font-family: 'Inconsolata', sans-serif;
}

#diagnostics>.screen {
    padding: 10px 10px 10px 10px;
    background-color: rgba(0, 0, 0, .5);
    color: #14FF00;
    font-size: .7em;
    text-shadow: 1px 0px 5px rgba(150, 255, 150, .7), 0px 1px 5px rgba(150, 255, 150, .7), 0px -1px 5px rgba(150, 255, 150, .7), -1px 0px 5px rgba(150, 255, 150, .7);
    overflow: hidden;
    width: 100%;
    height: 100%;
}

@-webkit-keyframes animatedBackground {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@-moz-keyframes animatedBackground {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@-ms-keyframes animatedBackground {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@-o-keyframes animatedBackground {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes animatedBackground {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

#animate    {
    width: 100%; 
    height: 1280px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: url(../img/main2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-animation: animatedBackground 2s linear infinite;
    -moz-animation: animatedBackground 2s linear infinite;
    -ms-animation: animatedBackground 2s linear infinite;
    -o-animation: animatedBackground 2s linear infinite;
    animation: animatedBackground 2s linear infinite;
}

.fadeBg {
    z-index: 9998;
    width: 100%;
    height: 1280px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, .7);
}

#finalDiagnostic {
    position: absolute;
    width: 100%;
    margin-top: 100px;
    text-align: center;
    font-size: 2em;
    font-family: 'Tit Light', serif;
}

@-webkit-keyframes animatedTrueShadow {
    0% { text-shadow: 1px 0px 5px rgba(150, 255, 150, .7), 0px 1px 5px rgba(150, 255, 150, .7), 0px -1px 5px rgba(150, 255, 150, .7), -1px 0px 5px rgba(150, 255, 150, .7); }
    50% { text-shadow: none; }
    100% { text-shadow: 1px 0px 5px rgba(150, 255, 150, .7), 0px 1px 5px rgba(150, 255, 150, .7), 0px -1px 5px rgba(150, 255, 150, .7), -1px 0px 5px rgba(150, 255, 150, .7); }
}

@-moz-keyframes animatedTrueShadow {
    0% { text-shadow: 1px 0px 5px rgba(150, 255, 150, .7), 0px 1px 5px rgba(150, 255, 150, .7), 0px -1px 5px rgba(150, 255, 150, .7), -1px 0px 5px rgba(150, 255, 150, .7); }
    50% { text-shadow: none; }
    100% { text-shadow: 1px 0px 5px rgba(150, 255, 150, .7), 0px 1px 5px rgba(150, 255, 150, .7), 0px -1px 5px rgba(150, 255, 150, .7), -1px 0px 5px rgba(150, 255, 150, .7); }
}

@-ms-keyframes animatedTrueShadow {
    0% { text-shadow: 1px 0px 5px rgba(150, 255, 150, .7), 0px 1px 5px rgba(150, 255, 150, .7), 0px -1px 5px rgba(150, 255, 150, .7), -1px 0px 5px rgba(150, 255, 150, .7); }
    50% { text-shadow: none; }
    100% { text-shadow: 1px 0px 5px rgba(150, 255, 150, .7), 0px 1px 5px rgba(150, 255, 150, .7), 0px -1px 5px rgba(150, 255, 150, .7), -1px 0px 5px rgba(150, 255, 150, .7); }
}

@-o-keyframes animatedTrueShadow {
    0% { text-shadow: 1px 0px 5px rgba(150, 255, 150, .7), 0px 1px 5px rgba(150, 255, 150, .7), 0px -1px 5px rgba(150, 255, 150, .7), -1px 0px 5px rgba(150, 255, 150, .7); }
    50% { text-shadow: none; }
    100% { text-shadow: 1px 0px 5px rgba(150, 255, 150, .7), 0px 1px 5px rgba(150, 255, 150, .7), 0px -1px 5px rgba(150, 255, 150, .7), -1px 0px 5px rgba(150, 255, 150, .7); }
}

@keyframes animatedTrueShadow {
    0% { text-shadow: 1px 0px 5px rgba(150, 255, 150, .7), 0px 1px 5px rgba(150, 255, 150, .7), 0px -1px 5px rgba(150, 255, 150, .7), -1px 0px 5px rgba(150, 255, 150, .7); }
    50% { text-shadow: none; }
    100% { text-shadow: 1px 0px 5px rgba(150, 255, 150, .7), 0px 1px 5px rgba(150, 255, 150, .7), 0px -1px 5px rgba(150, 255, 150, .7), -1px 0px 5px rgba(150, 255, 150, .7); }
}

.diag-true {
    color: lime;
    -webkit-animation: animatedTrueShadow 2s linear infinite;
    -moz-animation: animatedTrueShadow 2s linear infinite;
    -ms-animation: animatedTrueShadow 2s linear infinite;
    -o-animation: animatedTrueShadow 2s linear infinite;
    animation: animatedTrueShadow 2s linear infinite;
}

@-webkit-keyframes animatedFalseShadow {
    0% { text-shadow: 1px 0px 5px rgba(255, 150, 150, .7), 0px 1px 5px rgba(255, 150, 150, .7), 0px -1px 5px rgba(255, 150, 150, .7), -1px 0px 5px rgba(255, 150, 150, .7); }
    50% { text-shadow: none; }
    100% { text-shadow: 1px 0px 5px rgba(255, 150, 150, .7), 0px 1px 5px rgba(255, 150, 150, .7), 0px -1px 5px rgba(255, 150, 150, .7), -1px 0px 5px rgba(255, 150, 150, .7); }
}

@-moz-keyframes animatedFalseShadow {
    0% { text-shadow: 1px 0px 5px rgba(255, 150, 150, .7), 0px 1px 5px rgba(255, 150, 150, .7), 0px -1px 5px rgba(255, 150, 150, .7), -1px 0px 5px rgba(255, 150, 150, .7); }
    50% { text-shadow: none; }
    100% { text-shadow: 1px 0px 5px rgba(255, 150, 150, .7), 0px 1px 5px rgba(255, 150, 150, .7), 0px -1px 5px rgba(255, 150, 150, .7), -1px 0px 5px rgba(255, 150, 150, .7); }
}

@-ms-keyframes animatedFalseShadow {
    0% { text-shadow: 1px 0px 5px rgba(255, 150, 150, .7), 0px 1px 5px rgba(255, 150, 150, .7), 0px -1px 5px rgba(255, 150, 150, .7), -1px 0px 5px rgba(255, 150, 150, .7); }
    50% { text-shadow: none; }
    100% { text-shadow: 1px 0px 5px rgba(255, 150, 150, .7), 0px 1px 5px rgba(255, 150, 150, .7), 0px -1px 5px rgba(255, 150, 150, .7), -1px 0px 5px rgba(255, 150, 150, .7); }
}

@-o-keyframes animatedFalseShadow {
    0% { text-shadow: 1px 0px 5px rgba(255, 150, 150, .7), 0px 1px 5px rgba(255, 150, 150, .7), 0px -1px 5px rgba(255, 150, 150, .7), -1px 0px 5px rgba(255, 150, 150, .7); }
    50% { text-shadow: none; }
    100% { text-shadow: 1px 0px 5px rgba(255, 150, 150, .7), 0px 1px 5px rgba(255, 150, 150, .7), 0px -1px 5px rgba(255, 150, 150, .7), -1px 0px 5px rgba(255, 150, 150, .7); }
}

@keyframes animatedFalseShadow {
    0% { text-shadow: 1px 0px 5px rgba(255, 150, 150, .7), 0px 1px 5px rgba(255, 150, 150, .7), 0px -1px 5px rgba(255, 150, 150, .7), -1px 0px 5px rgba(255, 150, 150, .7); }
    50% { text-shadow: none; }
    100% { text-shadow: 1px 0px 5px rgba(255, 150, 150, .7), 0px 1px 5px rgba(255, 150, 150, .7), 0px -1px 5px rgba(255, 150, 150, .7), -1px 0px 5px rgba(255, 150, 150, .7); }
}

.diag-false {
    color: red;
    -webkit-animation: animatedFalseShadow 2s linear infinite;
    -moz-animation: animatedFalseShadow 2s linear infinite;
    -ms-animation: animatedFalseShadow 2s linear infinite;
    -o-animation: animatedFalseShadow 2s linear infinite;
    animation: animatedFalseShadow 2s linear infinite;
}